section.about
  .about__wrapper
    h2.about__title
      | Обо мне
    p.about__text
      | Привет! Я — начинающий front-end разработчик, успешно законил программу интенсивов «Профессия Фронтенд-разработчик» от HTML Academy.
    p.about__text
      | В данный момент живу в г. Уфа и нахожусь в поиске интересных предложений для профессионального роста и развития в данной сфере. Готов к переезду в другой город.
    a.about__link
      span
        | Посмотреть резюме
    h3.about__sub-title
      | профильное образование
    p.about__text
      | написать что-то умное
    +sertificates()

