.btn {
  display: inline-flex;
  padding: 10px 20px;

  font-family: $Gilroy;
  font-weight: $bold;
  line-height: $line-height;
  color: $black;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.btn--scale-effect {
  position: relative;

  span {
    z-index: 1;

    letter-spacing: 0.5em;
    background-color: transparent;
    transition-duration: 0.3s;
    transition-property: all;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 15%;

    border: 1px solid $red;
    background-color: $red;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-property: height, color;
  }

  &:hover,
  &:focus {
    color: $white;
  }

  &:active {
    color: fade($black, 30%);
  }
}

.btn--scale-effect:hover span,
.btn--scale-effect:focus span,
.btn--scale-effect:active span {
  background-color: transparent;
}

.btn--scale-effect:hover::before,
.btn--scale-effect:focus::before {
  height: 100%;

  border-color: #1B242F;
}
