.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  box-sizing: border-box;

  display: flex;
  width: 320px;

  background-color: $bg-color;
  border: 1px solid $red;
  transform: translate(-50%, -50%);

  box-shadow: 0 5px 10px 0 rgba($black, 0.25);

  // &--show {
  //   display: block;
  // }

  @include tablets {
    width: 568px;
    padding: 0 50px;
  }
}

.modal__wrapper {
  padding: 0 30px;
  padding-top: 35px;

  @include tablets {
    padding-top: 70px;
  }
}

.modal__form {
  outline: 1px solid yellow;

  width: 260px;
  margin-bottom: 43px;

  @include tablets {
    width: 100%;
  }
}
