.page-footer {
  min-height: 20rem;
}

.page-footer__wrapper {
  outline: 1px solid red;

  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @include tablets {
    justify-content: flex-start;

    width: 708px;
    padding: 0 30px;
  }

  @include desktop {
    width: 1000px;
    padding: 0 40px;
  }
}
