.socials {
  @include ul-unstyled();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: 50%;
}

.socials__item {
}

.socials__link {
  color: $red;
}

.socials__link .icon {
  font-size: 26px;
}
