$tablet-width:             768px;
$desktop-width:            1200px;
$mobile-width-only:        768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width:             768px;
$desktop-width:            1200px;
$mobile-width-only:        768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white:                    #ffffff;
$black:                    #000000;
$red:                      #ee394e;
$green:                    #04C2C9;
$gray:                     #f2f2f2;
$yellow:                   #ffc600;

$bg-color:                 $gray;
// #1B242F;


$font-size:                14px;
$font-size--h1:            30px;
$font-size--h2:            25px;
$font-size--h3:            20px;


$line-height:              1.2;

$light:                    400;
$bold:                     800;

$Gilroy:                   "Gilroy", "Arial", sans-serif;
$OpenSans:                 "OpenSans", Arial, sans-serif;

$btn-bg:                   $red;
$transition-duration:      0.3s;

// // Базовые цвета https://colorscheme.ru/color-converter.html

// $black:                    hsl(0, 0%, 0%);
// $white:                    hsl(0, 0%, 100%);

// //---------------------------------------------fonts
// $font_path: "../fonts/";
// $font_1: sans-serif;
// $font_size_base: 1.6rem;


// $color-main:                  hsl(208, 98%, 43%);

// $body-bg:                     $white;

// $link-color:                  $color-main;
// $link-color--hover:           darken($color-main, 15%);

// // $border-color:                $gray-light;

// // Базовая типографика

// $font-size--root:             16px;

// $font-size:                   1rem; // rem(16px)

// $font-size--h1:               rem(40px);
// $font-size--h2:               rem(32px);
// $font-size--h3:               rem(24px);
// $font-size--h4:               rem(18px);
// $font-size--h5:               rem(16px);
// $font-size--h6:               rem(16px);

// $font-size--small:            80%;

// $line-height:                 1.5;


// // Базовые цвета https://colorscheme.ru/color-converter.html

// $black:                       hsl(0, 0%, 0%);
// $gray-darkest:                hsl(0, 0%, 10%);
// $gray-darker:                 hsl(0, 0%, 20%);
// $gray-darken:                 hsl(0, 0%, 30%);
// $gray-dark:                   hsl(0, 0%, 40%);
// $gray:                        hsl(0, 0%, 50%);
// $gray-light:                  hsl(0, 0%, 60%);
// $gray-lighten:                hsl(0, 0%, 70%);
// $gray-lighter:                hsl(0, 0%, 80%);
// $gray-lightest:               hsl(0, 0%, 90%);
// $white:                       hsl(0, 0%, 100%);

// $color-main:                  hsl(208, 98%, 43%);
// $color-success:               hsl(120, 39%, 54%);
// $color-danger:                hsl(2, 64%, 58%);
// $color-warning:               hsl(35, 84%, 62%);



// // Семантические цвета

// $text-color:                  $gray-darkest;
// $text-color--muted:           $gray;
// $body-bg:                     $white;

// $link-color:                  $color-main;
// $link-color--hover:           darken($color-main, 15%);

// $border-color:                $gray-light;



// // Базовая типографика

// $font-size--root:             16px;

// $font-size:                   1rem; // rem(16px)

// $font-size--h1:               rem(40px);
// $font-size--h2:               rem(32px);
// $font-size--h3:               rem(24px);
// $font-size--h4:               rem(18px);
// $font-size--h5:               rem(16px);
// $font-size--h6:               rem(16px);

// $font-size--small:            80%;

// $line-height:                 1.5;
